<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="private.orders">MiuCups</a>
        </div>
    </div>
</div>

<div class="container-fluid app-body" ng-transclude></div>
