@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

$media-start-sm: 768px;
$media-start-md: 992px;
$media-start-lg: 1200px;


@mixin respond-to($media) {
    @if $media == xs {
        @media (max-width: $media-start-sm - 1px) { @content; }
    }
    @else if $media == sm {
        @media (min-width: $media-start-sm) and (max-width: $media-start-md - 1px) { @content; }
    }
    @else if $media == md {
        @media (min-width: $media-start-md) and (max-width: $media-start-lg - 1px) { @content; }
    }
    @else if $media == lg {
        @media (min-width: $media-start-lg) { @content; }
    }
    @else if $media == xs-sm {
        @media (max-width: $media-start-md - 1px) { @content; }
    }
    @else if $media == sm-lg {
        @media (min-width: $media-start-sm) { @content; }
    }
    @else if $media == md-lg {
        @media (min-width: $media-start-md) { @content; }
    }
}

@mixin retina() {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        @content;
    }
}
