@import "mixins";

.model-list {
    display: flex;
    flex-flow: column;

    @include respond-to(lg) {
        flex-flow: row;
        align-items: flex-start;
    }
}

.model-list__filters {
    margin-bottom: 1rem;

    @include respond-to(lg) {
        flex-basis: 300px;
        margin-right: 1.5rem;
    }
}

.model-list__list {
    @include respond-to(lg) {
        flex-grow: 1;
    }
}
