$size-variants: (0, 0), (xs, 0.25rem), (sm, 0.5rem), ('', 1rem), (md, 1.5rem), (lg, 3rem), (xl, 6rem);
$size-directions: (b, bottom) (t, top) (l, left) (r, right);

@each $size, $value in $size-variants {
    $size-prefix: if($size != '', '-' + $size, '');

    @each $label, $direction in $size-directions {
        .m-#{$label}#{$size-prefix} { margin-#{$direction}: $value !important; }
        .p-#{$label}#{$size-prefix} { padding-#{$direction}: $value !important; }
    }
    .m-a#{$size-prefix} { margin: $value !important; }
    .m-x#{$size-prefix} { margin-left: $value !important; margin-top: $value !important; }
    .m-y#{$size-prefix} { margin-top: $value !important; margin-bottom: $value !important; }
    .p-a#{$size-prefix} { padding: $value !important; }
    .p-x#{$size-prefix} { padding-left: $value !important; padding-right: $value !important; }
    .p-y#{$size-prefix} { padding-top: $value !important; padding-bottom: $value !important; }
}
