
[table-sort], .table-sort {
    cursor: pointer;

    &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-right: 0.25rem;
        opacity: 0.6;

        content: '\f0dc';
    }

    &.st-sort-ascent:before{
        content: '\f0de';
    }

    &.st-sort-descent:before{
        content: '\f0dd';
    }
}
