$font-weights: (300, 400, 700);

@each $weight in $font-weights {
    ._#{$weight} {
        font-weight: $weight !important;
    }
}

.text-bold {
    font-weight: bold;
}

.text-sm {
    font-size: 0.75rem;
}

.text-lg {
    font-size: 2rem;
}

.text-ellipsis {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
