@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootswatch/flatly/variables";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.dropdown-toggle {
    cursor: pointer;
}

/* ui-select */

.ui-select-match {
    outline: none;
}

.ui-select-toggle {
    text-overflow: ellipsis;
    overflow: hidden;
    border-color: $input-border !important;
    outline: none !important;

    &, &:hover, &:focus, &:active { background-color: white !important; }

    .caret { color: #333; }
}

.ui-select-match-text {
    color: $input-color !important;
}

.btn-default-focus {
    box-shadow: none;
    border-radius: $input-border-radius;

    .ui-select-toggle {
        border-color: $input-border-focus !important;
    }
}

/* loading bar */

#loading-bar .bar {
    background-color: $brand-success;
}

.panel-box {
    border: none;
    box-shadow: 0 0 1px rgba(0,0,0,.15);
    //border-radius: 0;
}

.panel-box .panel-heading {
    background: none !important;
    border-bottom: 1px solid $gray-lighter;
}
