$fa-font-path: '../../node_modules/font-awesome/fonts';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&subset=latin-ext');
@import "~font-awesome/scss/font-awesome.scss";
@import "~bootswatch/flatly/variables";
@import "bootstrap";
@import "~bootswatch/flatly/_bootswatch.scss";
@import "~angular-ui-notification/dist/angular-ui-notification.css";
@import "~ui-select/dist/select.css";
@import "~angular-loading-bar/build/loading-bar.css";
@import "size";
@import "flex";
@import "ui-bootstrap";
@import "table";
@import "utils";
@import "text";
@import "cursor";
@import "model-list";

html, body {
    font-size: 16px;
}

.app-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    background-color: #f0f0f0;
}

* {
    outline: none !important;
}

.b-a {
    border: 1px solid #ccc;
}

.required:after {
    content: " *";
}
