<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">×</button>
    <h3 class="modal-title">{{$ctrl.title || 'Удалить'}}</h3>
</div>

<div class="modal-body" id="modal-body">
    {{$ctrl.message || 'Подтвердить удаление?'}}
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Ок</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Отмена</button>
</div>
