<form class="panel panel-box" novalidate submit-valid="$ctrl.save()">
    <div class="panel-heading clearfix">
        <h5 class="pull-left m-t-sm m-a-0 text-bold">
            Кружка #{{::$ctrl.record.id}}
        </h5>
        <div class="pull-right">
            <button type="button" class="btn btn-danger btn-sm" loading="$ctrl.removing" ng-click="$ctrl.remove()">
                <span class="fa fa-trash m-r-xs"></span>
                Удалить
            </button>
            <div ng-switch="$ctrl.record.show_on_landing" style="display: inline">
                <div class="btn-group" uib-dropdown ng-switch-when="false">
                    <button id="single-button" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle
                            loading="$ctrl.addingOnLanding">
                        <span class="fa fa-eye m-r-xs"></span>
                        Добавить на главную <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-click="$ctrl.addCupOnLanding('start')"><a href>В начало</a></li>
                        <li role="menuitem" ng-click="$ctrl.addCupOnLanding('end')"><a href>В конец</a></li>
                    </ul>
                </div>
                <button ng-switch-when="true" type="button" class="btn btn-primary btn-sm" loading="$ctrl.removingFromLanding"
                        ng-click="$ctrl.removeCupFromLanding()">
                    <span class="fa fa-eye-slash m-r-xs"></span>
                    Убрать с главной
                </button>
            </div>
            <button type="submit" class="btn btn-primary btn-sm" loading="$ctrl.saving" ng-disabled="!$ctrl.hasChanges()">
                <span class="fa fa-save m-r-xs"></span>
                Сохранить
            </button>
        </div>
    </div>
    <div class="panel-body form-horizontal">
        <form-group for="cup-name" required="true" label="Название">
            <input id="cup-name" name="cup-name" type="text" class="form-control"
                   ng-model="$ctrl.record.name" required>
            <error-messages field="cup-name"></error-messages>
        </form-group>

        <form-group label="Ссылка на сайте">
            <div class="m-y-sm">
                <a ng-href="{{::$ctrl.record.uuid|cupLink}}" ng-bind="::$ctrl.record.uuid|cupLink" target="_blank"></a>
            </div>
        </form-group>

        <form-group for="cup-texture" required="true" label="Текстура">
            <attachment name="cup-texture" type="cup-texture" ng-model="$ctrl.textureAttachment"
                        accept="png,jpg,jpeg" required></attachment>
            <error-messages field="cup-texture" extensions="png, jpg, jpeg"></error-messages>
        </form-group>
    </div>
</form>
