<div ng-if="(form.$submitted && form[field].$invalid)" ng-messages="form[field].$error" class="error-messages help-block">
    <ng-transclude></ng-transclude>
    <p ng-message="required">Это поле необходимо заполнить</p>
    <p ng-message="min">Введите число больше или равное {{min}}</p>
    <p ng-message="max">Введите числа меньше или равное {{max}}</p>
    <p ng-message="number">Необходимо ввести число</p>
    <p ng-message="email">Необходимо ввести email</p>
    <p ng-message="url">Необходимо ввести URL</p>
    <p ng-message="maxlength">Введите не больше {{maxlength}} знаков</p>
    <p ng-message="extension">Выберите файла одного из следующих типов: {{extensions}}</p>
</div>
