<div class="m-t-md" ng-if="$ctrl.total > $ctrl.limit">
    <div class="text-center m-b-sm">
        Отображено <span class="text-bold">{{$ctrl.getStart()}} - {{$ctrl.getEnd()}}</span> из {{$ctrl.total}}
    </div>

    <div class="layout-row justify-center">
        <ul uib-pagination
            total-items="$ctrl.total"
            items-per-page="$ctrl.limit"
            class="m-y-0"
            ng-model="$ctrl.page"
            ng-change="$ctrl.paginate()"
            boundary-links="true"
            direction-links="$ctrl.total / $ctrl.limit >= 2"
            first-text="Первый"
            last-text="Последний"
            next-text="Вперед"
            previous-text="Назад"></ul>
    </div>
</div>
