<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="private.orders">MiuCups</a>

            <button type="button" class="navbar-toggle" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="navbar-collapse" uib-collapse="$ctrl.isCollapsed" style="overflow: hidden; height: 0px">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="private.orders">
                        Заказы
                        <span class="badge m-l-xs"
                              ng-if="$ctrl.AppState.getNewOrdersAmount() > 0"
                              ng-bind="$ctrl.AppState.getNewOrdersAmount()"></span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="private.cups">Кружки</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="private.gallery">Галеррея</a>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle>
                        <span class="fa fa-plus m-r-xs"></span>
                        <span>Добавить</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-click="$ctrl.addOrder()"><a href>Заказ</a></li>
                        <li ng-click="$ctrl.addCup()"><a href>Кружку</a></li>
                        <li ng-click="$ctrl.addImage()"><a href>Изображение</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://cups.vinneyto.org/" target="_blank">Открыть сайт</a>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle>
                        <span class="fa fa-user m-r-xs"></span>
                        <span ng-bind="$ctrl.getUserName()"></span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-click="$ctrl.logout()"><a href>Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="app-body layout" ng-transclude></div>
