<form class="panel panel-box" novalidate submit-valid="$ctrl.save()">
    <div class="panel-heading clearfix">
        <h5 class="pull-left m-t-sm m-a-0 text-bold">
            Изображение #{{::$ctrl.record.id}}
        </h5>
        <div class="pull-right">
            <button type="button" class="btn btn-danger btn-sm" loading="$ctrl.removing" ng-click="$ctrl.remove()">
                <span class="fa fa-trash m-r-xs"></span>
                Удалить
            </button>
            <button type="submit" class="btn btn-primary btn-sm" loading="$ctrl.saving"
                    ng-disabled="!$ctrl.hasChanges() || $ctrl.saving">
                <span class="fa fa-save m-r-xs"></span>
                Сохранить
            </button>
        </div>
    </div>
    <div class="panel-body form-horizontal">
        <form-group for="image-name" required="true" label="Название">
            <input id="image-name" name="image-name" type="text" class="form-control"
                   ng-model="$ctrl.record.name" required>
            <error-messages field="image-name"></error-messages>
        </form-group>

        <form-group for="gallery-image-file" required="true" label="Файл">
            <attachment name="gallery-image-file" type="gallery-image-file" ng-model="$ctrl.fileAttachment"
                        accept="png,jpg,jpeg" required></attachment>
            <error-messages field="gallery-image-file" extensions="png, jpg, jpeg"></error-messages>
        </form-group>

        <form-group for="image-description" label="Описание">
            <textarea id="image-description" name="image-description" class="form-control"
                      ng-model="$ctrl.record.description" rows="4"></textarea>
            <error-messages field="image-description"></error-messages>
        </form-group>

        <form-group label="Дата создания" hide-separator="true">
            <div class="form-control" ng-bind="::$ctrl.record.created|dateFormat"></div>
        </form-group>
    </div>
</form>
