<div class="row form-group">
    <label class="control-label col-sm-2"
           ng-class="{'required': $ctrl.required}" ng-attr-for="{{$ctrl.for}}" ng-bind="$ctrl.label"></label>
    <div class="col-sm-10 col-md-6 col-lg-5">
        <div ng-transclude></div>
    </div>
</div>
<hr ng-if="!$ctrl.hideSeparator" class="m-t-0 m-b" style="border-style: dashed">
