<div class="model-list">
    <div class="model-list__filters panel panel-box">
        <div class="panel-heading">
            <h5 class="m-y-sm m-a-0 text-bold">
                Фильтры
            </h5>
        </div>
        <div class="panel-body" ng-include="'${require(`./filters.html`)}'"></div>
    </div>

    <div class="model-list__list panel panel-box">
        <div class="panel-heading lead clearfix">
            <h5 class="m-y-sm m-a-0 text-bold">
                Список кружек
            </h5>
            <!--<div class="pull-right">-->
                <!--<button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.addCup()">-->
                    <!--<span class="fa fa-plus m-r-sm"></span>-->
                    <!--Добавить-->
                <!--</button>-->
            <!--</div>-->
        </div>
        <div class="panel-body">
            <div ng-include="'/components/cup-list/table-' + (!$ctrl.onLandingMode ? 'default' : 'on-landing') + '.html'"></div>

            <h5 class="text-center" ng-if="!$ctrl.records.length">
                Нет записей
            </h5>
        </div>
    </div>
</div>
