<form submit-valid="$ctrl.submit()" novalidate>
    <div class="form-group">
        <input type="text" ng-model="$ctrl.filters.name.value" class="form-control" placeholder="Название">
    </div>
    <div class="form-group">
        <ui-select ng-model="$ctrl.filters.show_on_landing.value">
            <ui-select-match placeholder="На главной странице">
                <div class="layout-row align-center">
                    <div class="flex">На главной: {{$select.selected.name}}</div>
                    <div class="fa fa-times"
                         no-click-through
                         ng-click="$ctrl.filters.show_on_landing.value = null"></div>
                </div>
            </ui-select-match>
            <ui-select-choices repeat="option.value as option in $ctrl.filters.show_on_landing.options | filter: $select.search">
                <span ng-bind-html="option.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <button type="submit" class="btn btn-primary">
        Найти
    </button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.clear()">
        Очистить
    </button>
</form>
