<div class="table-responsive" ng-if="$ctrl.records.length">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th table-sort="name">Название</th>
            <th>Ссылка на сайте</th>
            <th table-sort="show_on_landing">На главной</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in $ctrl.records track by record.id">
            <td><a ui-sref="private.cup-details({id: record.id})" ng-bind="::record.id"></a></td>
            <td><a ui-sref="private.cup-details({id: record.id})" ng-bind="::record.name"></a></td>
            <td><a ng-href="{{::record.uuid|cupLink}}" ng-bind="::record.uuid|cupLink" target="_blank"></a></td>
            <td>
                <span class="fa" ng-class="::{'fa-check': record.show_on_landing, 'fa-times': !record.show_on_landing}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="layout-column align-center">
    <pagination total="$ctrl.Cup.lastMeta.totalCount"></pagination>
</div>
