<div class="table-responsive" ng-if="$ctrl.records.length">
    <table class="table table-striped"
           ui-sortable="$ctrl.sortableOptions"
           ui-sortable-update="$ctrl.onUpdateOrder"
           ng-model="$ctrl.records">
        <thead>
        <tr>
            <th class="table-sort st-sort-ascent" style="width: 50px"></th>
            <th>#</th>
            <th>Название</th>
            <th>Ссылка на сайте</th>
            <th>На главной</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in $ctrl.records track by record.id">
            <td>
                <span class="fa fa-reorder move"></span>
            </td>
            <td><a ui-sref="private.cup-details({id: record.id})" ng-bind="::record.id"></a></td>
            <td><a ui-sref="private.cup-details({id: record.id})" ng-bind="::record.name"></a></td>
            <td><a ng-href="{{::record.uuid|cupLink}}" ng-bind="::record.uuid|cupLink" target="_blank"></a></td>
            <td>
                <span class="fa"
                      ng-class="::{'fa-check': record.show_on_landing, 'fa-times': !record.show_on_landing}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
