<div class="layout-row m-b" ng-repeat="attachment in $ctrl.attachments track by $index">
    <div class="flex text-ellipsis" ng-switch="!!attachment.file">
        <a ng-switch-when="true" ng-attr-download="{{attachment.filename}}" target="_blank" ng-href="{{attachment.file}}"
           ng-bind="attachment.filename"></a>
        <span ng-switch-when="false" class="text-info">
            <span class="fa fa-upload m-r-xs"></span>
            <span ng-bind="attachment.$file.name"></span>
        </span>
    </div>

    <span class="fa fa-times pointer m-l-sm"
          ng-click="$ctrl.removeAttachmentAt($index)"></span>
</div>

<attachment ng-model="$ctrl.currentAttachment"
            on-select="$ctrl.addAttachment($attachment); $ctrl.currentAttachment = null"></attachment>
