<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">×</button>
    <h3 class="modal-title">Новая кружка</h3>
</div>

<loading-overlay ng-if="$ctrl.saving"></loading-overlay>

<form class="pos-rlt" novalidate submit-valid="$ctrl.save()">

    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label class="required" for="cup-name">Название</label>
            <input id="cup-name" ng-model="$ctrl.name" name="cup-name" class="form-control" type="text" required autofocus>
            <error-messages field="cup-name"></error-messages>
        </div>
        <div class="form-group">
            <label class="required">Текстура</label>
            <attachment type="cup-texture" name="cup-texture" accept="png,jpg,jpeg"
                        ng-model="$ctrl.textureAttachment" required=""></attachment>
            <error-messages field="cup-texture" extensions="png, jpg, jpeg"></error-messages>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Отмена</button>
    </div>
</form>
