<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">×</button>
    <h3 class="modal-title">Новый заказ</h3>
</div>

<loading-overlay ng-if="$ctrl.saving"></loading-overlay>

<form class="pos-rlt" novalidate submit-valid="$ctrl.save()">

    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required" for="order-fullname">Имя клиента</label>
                    <input id="order-fullname" ng-model="$ctrl.record.fullname" name="order-fullname" class="form-control" type="text" required>
                    <error-messages field="order-fullname"></error-messages>
                </div>
                <div class="form-group">
                    <label class="required" for="order-phone">Телефон</label>
                    <input id="order-phone" ng-model="$ctrl.record.phone" name="order-phone" class="form-control" type="tel" required>
                    <error-messages field="order-phone"></error-messages>
                </div>
                <div class="form-group">
                    <label for="order-email">Email</label>
                    <input id="order-email" ng-model="$ctrl.record.email" name="order-email" class="form-control" type="email">
                    <error-messages field="order-email"></error-messages>
                </div>
                <div class="form-group">
                    <label for="order-description">Описание</label>
                    <textarea id="order-description" ng-model="$ctrl.record.description" name="order-description"
                              class="form-control" type="text" rows="4"></textarea>
                    <error-messages field="order-description"></error-messages>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Вложения</label>
                    <attachment-set ng-model="$ctrl.attachments"></attachment-set>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Отмена</button>
    </div>
</form>
