<form submit-valid="$ctrl.submit()" novalidate>
    <div class="form-group">
        <input type="text" ng-model="$ctrl.filters.fullname.value" class="form-control" placeholder="Имя клиента">
    </div>
    <div class="form-group">
        <input type="text" ng-model="$ctrl.filters.phone.value" class="form-control" placeholder="Телефон">
    </div>
    <div class="form-group">
        <input type="text" ng-model="$ctrl.filters.email.value" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
        <ui-select ng-model="$ctrl.filters.opened.value">
            <ui-select-match placeholder="Просмотрено">
                <div class="layout-row align-center">
                    <div class="flex">Просмотрено: {{$select.selected.name}}</div>
                    <div class="fa fa-times"
                         no-click-through
                         ng-click="$ctrl.filters.opened.value = null"></div>
                </div>
            </ui-select-match>
            <ui-select-choices repeat="option.value as option in $ctrl.filters.opened.options | filter: $select.search">
                <span ng-bind-html="option.name"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.filters.created__gte.value"
                   is-open="dpFrom.open" placeholder="Создан С даты"/>
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="dpFrom.open = true"><i class="fa fa-calendar"></i></button>
                </span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup  ng-model="$ctrl.filters.created__lte.value"
                   is-open="dpTo.open" placeholder="Создан ДО даты"/>
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="dpTo.open = true"><i class="fa fa-calendar"></i></button>
                </span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="fa fa-search m-r-xs"></span>
        Найти
    </button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.clear()">
        Очистить
    </button>
</form>
