<div class="model-list">
    <div class="model-list__filters panel panel-box">
        <div class="panel-heading">
            <h5 class="m-y-sm m-a-0 text-bold">
                Фильтры
            </h5>
        </div>
        <div class="panel-body" ng-include="'${require(`./filters.html`)}'"></div>
    </div>

    <div class="model-list__list panel panel-box box-shadow">
        <div class="panel-heading lead clearfix">
            <h5 class="m-y-sm m-a-0 text-bold">
                Список заказов
            </h5>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-if="$ctrl.records.length">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th table-sort="fullname">Имя клиента</th>
                        <th table-sort="phone">Телефон</th>
                        <th table-sort="email">Email</th>
                        <th>Просмотрено</th>
                        <th table-sort="created">Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="record in $ctrl.records track by record.id"
                        ng-class="::{'text-bold': !record.opened}">
                        <td><a ui-sref="private.order-details({id:record.id})" ng-bind="::record.id"></a></td>
                        <td>
                            <a ui-sref="private.order-details({id:record.id})">
                                <!--<span class="fa fa-exclamation-circle m-r-xs" ng-if="::!record.opened"></span>-->
                                <span ng-bind="::record.fullname"></span>
                            </a>
                        </td>
                        <td><span ng-bind="::record.phone"></span></td>
                        <td><span ng-bind="::record.email"></span></td>
                        <td>
                            <span class="fa" ng-class="::{'fa-check': record.opened, 'fa-times': !record.opened}"></span>
                        </td>
                        <td><span ng-bind="::record.created|dateFormat"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="layout-column align-center">
                <pagination total="$ctrl.Order.lastMeta.totalCount"></pagination>
            </div>

            <h5 class="text-center" ng-if="!$ctrl.records.length">
                Нет записей
            </h5>
        </div>
    </div>
</div>
