<form class="login-form" submit-valid="$ctrl.login()" novalidate>
    <loading-overlay ng-if="$ctrl.loading"></loading-overlay>

    <div class="form-group">
        <label for="username" class="control-label">Имя пользователя</label>
        <input id="username" ng-model="$ctrl.username" name="username" type="text" class="form-control" required>

        <error-messages field="username"></error-messages>
    </div>
    <div class="form-group">
        <label for="password" class="control-label">Пароль</label>
        <input id="password" ng-model="$ctrl.password" name="password" type="password" class="form-control" required>

        <error-messages field="password"></error-messages>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary p-x-lg">
            Войти
        </button>
    </div>
</form>
