<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">×</button>
    <h3 class="modal-title">Новое изображение</h3>
</div>

<loading-overlay ng-if="$ctrl.saving"></loading-overlay>

<form class="pos-rlt" novalidate submit-valid="$ctrl.save()">

    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label class="required">Файл</label>
            <attachment type="gallery-image-file" name="gallery-image-file" accept="png,jpg,jpeg"
                        ng-model="$ctrl.imageAttachment" on-select="$ctrl.name = $ctrl.name || $file.name"
                        required></attachment>
            <error-messages field="gallery-image-file" extensions="png, jpg, jpeg"></error-messages>
        </div>
        <div class="form-group">
            <label class="required" for="gallery-image-name">Название</label>
            <input id="gallery-image-name" ng-model="$ctrl.name" name="gallery-image-name" class="form-control" type="text" required>
            <error-messages field="gallery-image-name"></error-messages>
        </div>
        <div class="form-group">
            <label for="gallery-image-description">Описание</label>
            <textarea id="gallery-image-description" ng-model="$ctrl.description" name="gallery-image-description"
                      class="form-control" type="text" rows="4"></textarea>
            <error-messages field="gallery-image-description"></error-messages>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Отмена</button>
    </div>
</form>
