<form name="form" class="panel panel-box" novalidate submit-valid="$ctrl.save()">
    <div class="panel-heading clearfix">
        <h5 class="pull-left m-t-sm m-a-0 text-bold">
            Заказ #{{::$ctrl.record.id}}
        </h5>
        <div class="pull-right">
            <button type="button" class="btn btn-danger btn-sm" loading="$ctrl.removing" ng-click="$ctrl.remove()">
                <span class="fa fa-trash m-r-xs"></span>
                Удалить
            </button>
            <button type="submit" class="btn btn-primary btn-sm" loading="$ctrl.saving"
                    ng-disabled="!$ctrl.hasChanges() || $ctrl.saving">
                <span class="fa fa-save m-r-xs"></span>
                Сохранить
            </button>
        </div>
    </div>
    <div class="panel-body form-horizontal">
        <form-group label="Имя клиента" for="order-name" required="true">
            <input id="order-name" name="order-name" type="text" class="form-control"
                   ng-model="$ctrl.record.fullname" required>
            <error-messages field="order-name"></error-messages>
        </form-group>

        <form-group label="Телефон" for="order-phone" required="true">
            <input id="order-phone" name="order-phone" type="tel" class="form-control"
                   ng-model="$ctrl.record.phone" required>
            <error-messages field="order-phone"></error-messages>
        </form-group>

        <form-group label="Email" for="order-phone">
            <input id="order-email" name="order-email" type="tel" class="form-control"
                   ng-model="$ctrl.record.email">
            <error-messages field="order-email"></error-messages>
        </form-group>

        <form-group label="Описание" for="order-description">
                    <textarea id="order-description" name="order-description" class="form-control"
                              ng-model="$ctrl.record.description" rows="4"></textarea>
            <error-messages field="order-description"></error-messages>
        </form-group>

        <form-group label="Дата создания">
            <div class="form-control" ng-bind="::$ctrl.record.created|dateFormat"></div>
        </form-group>

        <form-group label="Вложения" hide-separator="true">
            <attachment-set ng-model="$ctrl.attachments"></attachment-set>
        </form-group>
    </div>
</form>
