<form submit-valid="$ctrl.submit()" novalidate>
    <div class="form-group">
        <input type="text" ng-model="$ctrl.filters.name.value" class="form-control" placeholder="Название">
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.filters.created__gte.value"
                   is-open="dpFrom.open" placeholder="Создан С даты"/>
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="dpFrom.open = true"><i class="fa fa-calendar"></i></button>
                </span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup  ng-model="$ctrl.filters.created__lte.value"
                   is-open="dpTo.open" placeholder="Создан ДО даты"/>
            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="dpTo.open = true"><i class="fa fa-calendar"></i></button>
                </span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="fa fa-search m-r-xs"></span>
        Найти
    </button>
    <button type="button" class="btn btn-link" ng-click="$ctrl.clear()">
        Очистить
    </button>
</form>
