<div class="model-list">
    <div class="model-list__filters panel panel-box">
        <div class="panel-heading">
            <h5 class="m-y-sm m-a-0 text-bold">
                Фильтры
            </h5>
        </div>
        <div class="panel-body" ng-include="'${require(`./filters.html`)}'"></div>
    </div>

    <div class="model-list__list panel panel-box">
        <div class="panel-heading lead clearfix">
            <h5 class="m-y-sm m-a-0 text-bold">
                Список изображений
            </h5>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-if="$ctrl.records.length">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Миниатюра</th>
                        <th table-sort="name">Название</th>
                        <th table-sort="created">Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="record in $ctrl.records track by record.id">
                        <td><a ui-sref="private.gallery-image-details({id:record.id})" ng-bind="::record.id"></a></td>
                        <td>
                            <a ui-sref="private.gallery-image-details({id:record.id})">
                                <img style="width: auto; max-height: 60px;" ng-src="{{::record.image_file.thumbnail}}"
                                     class="img-thumbnail">
                            </a>
                        </td>
                        <td><a ui-sref="private.gallery-image-details({id:record.id})" ng-bind="::record.name"></a></td>
                        <td><span ng-bind="::record.created|dateFormat"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="layout-column align-center">
                <pagination total="$ctrl.GalleryImage.lastMeta.totalCount"></pagination>
            </div>

            <h5 class="text-center" ng-if="!$ctrl.records.length">
                Нет записей
            </h5>
        </div>
    </div>
</div>
