<div class="attachment text-center p-a-md" ngf-drop="$ctrl.selectFile($files[0])">

    <div ng-switch="$ctrl.type" ng-if="$ctrl.attachment.id">
        <div class="m-b-sm" ng-switch-when="gallery-image-file">
            <a ng-href="{{$ctrl.attachment.file}}" target="_blank">
                <img style="max-height: 240px" ng-src="{{$ctrl.attachment.thumbnail}}" class="img-thumbnail">
            </a>
        </div>

        <div class="text-sm m-b-sm" ng-switch-default>
            На данный момент:
            <a ng-href="{{$ctrl.attachment.file}}" target="_blank">
                Открыть в новой вкладке
            </a>
        </div>
    </div>

    <div class="layout-row justify-center">
        <div class="layout-row btn btn-default btn-sm align-center" style="overflow: hidden"
             ngf-select="$ctrl.selectFile($files[0])" title="{{$ctrl.getTitle()}}">

            <span class="flex text-ellipsis" ng-bind="$ctrl.getTitle()"></span>

            <span class="fa fa-times m-l-sm"
                  no-click-through
                  ng-if="$ctrl.attachment"
                  ng-click="$ctrl.reset()"></span>
        </div>
    </div>
</div>
