<table role="grid" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
    <thead>
    <tr>
        <th><button type="button" class="btn btn-link btn-sm pull-left uib-left" ng-click="move(-1)" tabindex="-1"><i aria-hidden="true" class="fa fa-chevron-left"></i><span class="sr-only">previous</span></button></th>
        <th colspan="{{::columns - 2}}"><button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-link btn-sm uib-title" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1"><strong>{{title}}</strong></button></th>
        <th><button type="button" class="btn btn-link btn-sm pull-right uib-right" ng-click="move(1)" tabindex="-1"><i aria-hidden="true" class="fa fa-chevron-right"></i><span class="sr-only">next</span></button></th>
    </tr>
    </thead>
    <tbody>
    <tr class="uib-years" ng-repeat="row in rows track by $index" role="row">
        <td ng-repeat="dt in row" class="uib-year text-center" role="gridcell"
            id="{{::dt.uid}}"
            ng-class="::dt.customClass">
            <button type="button" class="btn btn-link"
                    uib-is-class="
            'btn-info' for selectedDt,
            'b-a' for activeDt
            on dt"
                    ng-click="select(dt.date)"
                    ng-disabled="::dt.disabled"
                    tabindex="-1"><span ng-class="::{'text-info': dt.current}">{{::dt.label}}</span></button>
        </td>
    </tr>
    </tbody>
</table>
